In [40]:
import requests
import datetime as dt
import pandas as pd
def get_prices():
    date = dt.date.today().strftime("%d-%m-%Y")
    currencies=['bitcoin','ethereum','tether','solana']
    df_price = pd.DataFrame()
    for currency in currencies:
        print(currency)
        url = f"https://api.coingecko.com/api/v3/coins/{currency}/history"
        params = {
        "date": f"{date}",  # Format: DD-MM-YYYY
        "localization": "false"
        }
        response = requests.get(url, params=params)
        data = response.json()
        df_price = pd.concat([df_price,pd.DataFrame({'usd':data['market_data']['current_price']['usd'],'cripto':[currency]})],ignore_index=True)
    df_price['date']=date
    return df_price

In [3]:
import requests
import datetime as dt
import pandas as pd
import json
def get_prices():
    """
    Gets the prices of the relevant cripto currencies of a certain date and returns their values.
    Returns (pd.DataFrame)
    """
    date = dt.date.today().strftime("%d-%m-%Y")
    with open('currencies_to_extract.json','r') as f:
        currencies=json.load(f)['currencies']
    df_price = pd.DataFrame()
    for currency in currencies:
        url = f"https://api.coingecko.com/api/v3/coins/{currency}/history"
        params = {
        "date": f"{date}",  # Format: DD-MM-YYYY
        "localization": "false"
        }
        response = requests.get(url, params=params)
        data = response.json()
        df_price = pd.concat([df_price,pd.DataFrame({'usd':data['market_data']['current_price']['usd'],'cripto':[currency]})],ignore_index=True)
    df_price['date']=date
    return df_price
get_prices()

             usd    cripto        date
0  109573.905556   bitcoin  01-11-2025
1    3847.298177  ethereum  01-11-2025
2       0.999761    tether  01-11-2025
3     187.262747    solana  01-11-2025

In [41]:
get_prices()

bitcoin

KeyError: 'market_data'

In [48]:
def get_max_52w_rolling(history):
    """
    This function gets a 52 week rolling max of the currency
    Arg (pd.DataFrame): history to analyse
    Return (pd.DataFrame): max by date of each cripto currency
    """
    currencies = history['cripto'].unique()
    price_max=pd.DataFrame()
    for currency in currencies:
        price_max = pd.concat([price_max,pd.DataFrame({'usd_max_year':history[history['cripto']==currency].sort_values(by='date',ascending=True)['usd'].rolling(window=365,min_periods=1).mean(),'crito':history[history['cripto']==currency].sort_values(by='date',ascending=True)['cripto'],'date':history[history['cripto']==currency].sort_values(by='date',ascending=True)['date']})],ignore_index=True)
    return price_max

In [49]:
get_max_52w_rolling(get_prices())

bitcoin
ethereum
tether
solana

    usd_max_year     crito        date
0  111620.309373   bitcoin  26-10-2025
1    3952.213558  ethereum  26-10-2025
2       1.000377    tether  26-10-2025
3     194.011016    solana  26-10-2025

In [ ]:
import requests
import datetime as dt
import pandas as pd
import json
from datetime import datetime
def get_prices(execution_date):
    """
    Gets the prices of the relevant cripto currencies of a certain date and returns their values.
    Returns (pd.DataFrame)
    """
    print(execution_date)
    execution_date = datetime.strptime(execution_date, "%Y-%m-%d")
    date = execution_date.strftime("%d-%m-%Y")
    #with open('currencies_to_extract.json','r') as f:
    #    currencies=json.load(f)['currencies']
    currencies=["bitcoin","ethereum","tether","solana"]
    df_price = pd.DataFrame()
    for currency in currencies:
        url = f"https://api.coingecko.com/api/v3/coins/{currency}/history"
        params = {
        "date": f"{date}",  # Format: DD-MM-YYYY
        "localization": "false"
        }
        response = requests.get(url, params=params)
        data = response.json()
        df_price = pd.concat([df_price,pd.DataFrame({'usd':data['market_data']['current_price']['usd'],'cripto':[currency]})],ignore_index=True)
    df_price['date']=date
    return df_price

In [29]:
import requests
from dotenv import load_dotenv
import os
load_dotenv()

import requests

API_KEY = os.getenv("API_KEY")

# Endpoint for OHLCV history
url = "https://api.freecryptoapi.com/v1/getData?symbol=BTC"


headers = {
    "accept": "*/*",
    "Authorization": "Bearer dvx2hscgt0xdobmnj81i"
}

response = requests.get(url, headers=headers)
data = response.json()
data['symbols'][0]['last']

'95998.99'

In [10]:
import requests
import datetime as dt
import pandas as pd
import json
from datetime import datetime
from dotenv import load_dotenv
import os
load_dotenv()

execution_date = datetime.strptime('2025-11-10', "%Y-%m-%d")
date = execution_date.strftime("%d-%m-%Y")
#with open('currencies_to_extract.json','r') as f:
#    currencies=json.load(f)['currencies']
currencies=["bitcoin","ethereum","tether","solana"]
df_price = pd.DataFrame()
for currency in currencies:
    try:
        url = f"https://api.coingecko.com/api/v3/coins/{currency}/history"
        params = {
        "date": f"{date}",  # Format: DD-MM-YYYY
        "localization": "false"
        }
        response = requests.get(url, params=params)
        data = response.json()
        df_price = pd.concat([df_price,pd.DataFrame({'usd':data['market_data']['current_price']['usd'],'cripto':[currency]})],ignore_index=True)
    except:
        transformation = {"bitcoin":"BTC","ethereum":"ETH","tether":"XAUT","solana":"SOL"}
        currency_symbol = transformation[currency]
        url = f"https://api.freecryptoapi.com/v1/getData?symbol={currency_symbol}"
        headers = {
        "accept": "*/*",
        "Authorization": f"Bearer {os.getenv("API_KEY")}"
        }
        response = requests.get(url, headers=headers)
        data = response.json()
        df_price = pd.concat([df_price,pd.DataFrame({'usd':data['symbols'][0]['last'],'cripto':[currency]})],ignore_index=True)
df_price['date']=date

In [11]:
df_price

        usd    cripto        date
0  95874.96   bitcoin  10-11-2025
1   3210.53  ethereum  10-11-2025
2   4085.52    tether  10-11-2025
3    141.78    solana  10-11-2025

Create silver table

In [1]:
import psycopg2
import os
import pandas as pd
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from dags.API_request import get_avg_4w_rolling, get_max_4w_rolling, get_min_4w_rolling

In [3]:
conn = psycopg2.connect(
    dbname=os.getenv('REDSHIFT_SCHEMA'),
    user=os.getenv('REDSHIFT_USER'),
    password=os.getenv('REDSHIFT_PASSWORD'),
    host=os.getenv('REDSHIFT_HOST'),
    port=5439
)

cur = conn.cursor()

# Example schema — adjust columns to match your CSV
create_table_sql = """
DROP TABLE IF EXISTS FACT_CRIPTO_PRICES;

CREATE TABLE FACT_CRIPTO_PRICES (
    usd FLOAT,
    mean_4week FLOAT,
    max_4week FLOAT,
    min_4week FLOAT,
    cripto VARCHAR(100),
    date TIMESTAMP
);
"""

cur.execute(create_table_sql)
conn.commit()

In [38]:
df = pd.read_sql("SELECT * FROM DAILY_CRIPTO_PRICES WHERE date >= '2025-06-01';", conn)
df

/var/folders/1k/sh8hpzz512gfjrxqfmzwshbc0000gn/T/ipykernel_1914/2256029007.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM DAILY_CRIPTO_PRICES WHERE date >= '2025-06-01';", conn)

               usd    cripto       date
0    104687.507429   bitcoin 2025-06-01
1    105710.005938   bitcoin 2025-06-02
2    105884.742632   bitcoin 2025-06-03
3    105434.477451   bitcoin 2025-06-04
4    104812.918219   bitcoin 2025-06-05
..             ...       ...        ...
685     142.050000    solana 2025-10-11
686  104709.678617   bitcoin 2025-10-11
687    3576.254705  ethereum 2025-10-11
688       0.999748    tether 2025-10-11
689     164.268421    solana 2025-10-11

[690 rows x 3 columns]

In [40]:
df.date.dt.month.unique()

array([ 6,  7,  8,  9, 10, 11, 12], dtype=int32)

In [5]:
df = df[df['date']>='2025-06-01']

In [8]:
df.drop_duplicates(subset=['cripto','date'],inplace=True)

/var/folders/1k/sh8hpzz512gfjrxqfmzwshbc0000gn/T/ipykernel_1914/453266845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['cripto','date'],inplace=True)

In [18]:
get_max_4w_rolling(df)

         max_4week   cripto       date
0    104687.507429  bitcoin 2025-06-01
1    105710.005938  bitcoin 2025-06-02
2    105884.742632  bitcoin 2025-06-03
3    105884.742632  bitcoin 2025-06-04
4    105884.742632  bitcoin 2025-06-05
..             ...      ...        ...
671     223.999657   solana 2025-12-07
672     223.999657   solana 2025-12-08
673     228.699480   solana 2025-12-09
674     228.699480   solana 2025-12-10
675     228.699480   solana 2025-12-11

[676 rows x 3 columns]

In [23]:
data = get_min_4w_rolling(df).merge(get_avg_4w_rolling(df),on=['cripto','date']).merge(get_max_4w_rolling(df),on=['cripto','date']).merge(df[['cripto','date','usd']],on=['cripto','date'])

In [25]:
from sqlalchemy import create_engine, text

engine = create_engine(os.getenv("REDSHIFT"))

# Insert a single row

for index, row in data.iterrows():
    with engine.connect() as conn:
        conn.execute(
            text("INSERT INTO FACT_CRIPTO_PRICES (usd,mean_4week,max_4week,min_4week,cripto,date) VALUES (:usd,:mean_4week,:max_4week,:min_4week,:cripto,:date)"),
            {"usd": row.usd,"mean_4week":row.mean_4week,'max_4week':row.max_4week,'min_4week':row.min_4week, "cripto":row.cripto,'date':row.date}
            )
        conn.close()
    print(index)

/var/folders/1k/sh8hpzz512gfjrxqfmzwshbc0000gn/T/ipykernel_1914/1774314285.py:9: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  conn.execute(

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675

In [26]:
conn = psycopg2.connect(
    dbname=os.getenv('REDSHIFT_SCHEMA'),
    user=os.getenv('REDSHIFT_USER'),
    password=os.getenv('REDSHIFT_PASSWORD'),
    host=os.getenv('REDSHIFT_HOST'),
    port=5439
)
pd.read_sql("SELECT * FROM FACT_CRIPTO_PRICES;", conn)

/var/folders/1k/sh8hpzz512gfjrxqfmzwshbc0000gn/T/ipykernel_1914/808764219.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT * FROM FACT_CRIPTO_PRICES;", conn)

,usd,mean_4week,max_4week,min_4week,cripto,date
0,104687.507429,104687.507429,104687.507429,104687.507429,bitcoin,2025-06-01
1,105710.005938,105198.756684,105710.005938,104687.507429,bitcoin,2025-06-02
2,105884.742632,105427.418667,105884.742632,104687.507429,bitcoin,2025-06-03
3,105434.477451,105429.183363,105884.742632,104687.507429,bitcoin,2025-06-04
4,104812.918219,105305.930334,105884.742632,104687.507429,bitcoin,2025-06-05
...,...,...,...,...,...,...
671,162.753194,175.122282,223.999657,112.886169,solana,2025-12-07
672,175.045126,174.944377,223.999657,112.886169,solana,2025-12-08
673,228.699480,176.275638,228.699480,112.886169,solana,2025-12-09
674,178.306231,175.733872,228.699480,112.886169,solana,2025-12-10
675,154.346288,174.317275,228.699480,112.886169,solana,2025-12-11

In [27]:
check = pd.read_sql("SELECT * FROM FACT_CRIPTO_PRICES;", conn)

/var/folders/1k/sh8hpzz512gfjrxqfmzwshbc0000gn/T/ipykernel_1914/3876576135.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  check = pd.read_sql("SELECT * FROM FACT_CRIPTO_PRICES;", conn)

In [41]:
check[check['date']>='2025-12-01']

,usd,mean_4week,max_4week,min_4week,cripto,date
166,102960.775645,107458.589878,114476.012275,101322.640295,bitcoin,2025-12-11
327,3283.591323,3547.493364,4347.476804,1523.928624,ethereum,2025-12-01
328,2603.033370,3501.523152,4347.476804,1523.928624,ethereum,2025-12-02
329,1921.309923,3433.311214,4347.476804,1523.928624,ethereum,2025-12-03
330,1568.131690,3350.405238,4347.476804,1523.928624,ethereum,2025-12-04
331,2507.469311,3297.633550,4347.476804,1523.928624,ethereum,2025-12-05
332,2776.137192,3254.681659,4347.476804,1523.928624,ethereum,2025-12-06
333,2958.851445,3221.873239,4347.476804,1523.928624,ethereum,2025-12-07
334,4228.824213,3237.124432,4347.476804,1523.928624,ethereum,2025-12-08
335,4459.319016,3258.677179,4459.319016,1523.928624,ethereum,2025-12-09
336,3749.218186,3252.105247,4459.319016,1523.928624,ethereum,2025-12-10
337,3416.781328,3232.982668,4459.319016,1523.928624,ethereum,2025-12-11
504,0.999349,1.000084,1.000745,0.999349,tether,2025-12-11
665,188.063251,181.410418,223.999657,112.886169,solana,2025-12-01
666,197.929153,181.887385,223.999657,112.886169,solana,2025-12-02
667,125.428768,179.864465,223.999657,112.886169,solana,2025-12-03
668,121.392495,177.501386,223.999657,112.886169,solana,2025-12-04
669,172.857792,176.974130,223.999657,112.886169,solana,2025-12-05
670,161.019866,175.945022,223.999657,112.886169,solana,2025-12-06
671,162.753194,175.122282,223.999657,112.886169,solana,2025-12-07
672,175.045126,174.944377,223.999657,112.886169,solana,2025-12-08
673,228.699480,176.275638,228.699480,112.886169,solana,2025-12-09
674,178.306231,175.733872,228.699480,112.886169,solana,2025-12-10
675,154.346288,174.317275,228.699480,112.886169,solana,2025-12-11

In [42]:
check = pd.read_sql("SELECT * FROM DAILY_CRIPTO_PRICES;", conn)

/var/folders/1k/sh8hpzz512gfjrxqfmzwshbc0000gn/T/ipykernel_1914/2164799562.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  check = pd.read_sql("SELECT * FROM DAILY_CRIPTO_PRICES;", conn)

In [50]:
check

                usd    cripto       date
0      16540.693625   bitcoin 2023-01-01
1      16615.969318   bitcoin 2023-01-02
2      16674.342536   bitcoin 2023-01-03
3      16677.646186   bitcoin 2023-01-04
4      16855.174739   bitcoin 2023-01-05
...             ...       ...        ...
4203     142.050000    solana 2025-10-11
4204  104709.678617   bitcoin 2025-10-11
4205    3576.254705  ethereum 2025-10-11
4206       0.999748    tether 2025-10-11
4207     164.268421    solana 2025-10-11

[4208 rows x 3 columns]